body {
  background-color: #ffffff;

}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container1 {
  flex-shrink: 0;
  flex: 1;
  height: 450px;
  background-image: url('../../public/accident_travail1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.image-container2 {
  flex-shrink: 0;
  flex: 1;
  height: 450px;
  background-image: url('../../public/accident_travail2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}


.image-cortigroupe {
  flex: 1;
  height: 250px;
  background-image: url('../../public/logo animé.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;


}

.image-tigre {
  flex: 1;
  height: 200px;
  background-image: url('../../public/TIGRE.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;


}

.image-container1:hover {
  animation: vibration 0.1s infinite;
}

@keyframes vibration {
  0% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(25deg);
  }
}


#text-container {
  font-size: 5em;
  text-align: center;
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: letter-appear 1s forwards;
  animation-delay: calc(0.1s * var(--index));
}

@keyframes letter-appear {
  to {
    opacity: 1;
  }
}


h1 {
  font-size: 5em;
  text-align: center;
  color: #000000;

}

/* Utiliser des médias queries pour ajuster la taille de police de <h1> */
@media (max-width: 1200px) {
  h1 {
    font-size: 4em;
    /* Taille de police réduite pour les écrans plus étroits */
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3em;
    /* Taille de police encore plus petite pour les écrans très étroits */
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2em;
    /* Taille de police encore plus petite pour les écrans très étroits */
  }
}


h2 {
  color: #95ad22;
  font-size: 2.5em;
  text-align: center;
  text-decoration: underline;


}

#h7 {
  color: #257525;
  font-size: 5em;
  text-align: center;
  text-decoration: underline;
}

h3 {
  color: #000000;
  font-size: 1.5em;
  text-align: center;

}

h3a {
  color: #000000;
  font-size: 1.5em;
  text-align: center;

}


h4 {
  color: #95ad22;
  font-size: 1.5em;
  text-align: center;
}

h5 {
  color: #000000;
  font-size: 0.75em;
  text-align: center;
}

h6 {
  color: #000000;
  font-size: 1.5em;
  text-align: center;
}

h8 {
  color: #e62a5663;
  font-size: 1.5em;
  text-align: right;
  font-weight: bold;
}

/* Utiliser des médias queries pour ajuster la taille de police de <h1> */
@media (max-width: 1200px) {
  h6 {
    font-size: 1.5em;
    /* Taille de police réduite pour les écrans plus étroits */
  }
}

@media (max-width: 1000px) {
  h6 {
    font-size: 1em;
    /* Taille de police encore plus petite pour les écrans très étroits */
  }
}

@media (max-width: 650px) {
  h6 {
    font-size: 0.70em;
    /* Taille de police encore plus petite pour les écrans très étroits */
  }
}

/* Ajoutez ces styles pour personnaliser la boîte de dialogue */
.custom-confirm-dialog {
  border-radius: 10px;
  box-shadow: 0 0 20px #ff0000;
  background-color: #ffffff;
}

.custom-confirm-title {
  color: #95ad22;
  /* Couleur du titre */
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.custom-confirm-message {
  color: #ff0000;
  /* Couleur du message */
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.custom-confirm-input {
  /* Couleur du message */
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.custom-confirm-no {
  margin-left: 10px;
  /* Espacement entre les boutons */
}

.custom-confirm-buttons {
  display: flex;
  justify-content: flex-end;
  /* Ajustez cette propriété pour aligner à droite */
  margin-top: 20px;
}

.custom-confirm-button {
  background-color: #01aeac;
  /* Couleur du bouton */
  color: #fff;
  /* Couleur du texte du bouton */
  border: 21px solid #01aeac;
  /* Bordure du bouton */
  border-radius: 25px;
  /* Bordure du bouton */
  margin-right: 20px;
  margin-bottom: 20px;

}

.custom-confirm-button:hover {
  background-color: #ff0000;
  /* Couleur du bouton au survol */
  border: 21px solid #ff0000;
  /* Bordure du bouton au survol */

}

.table-row-separator {
  border-bottom: 2px solid #000000;
}

.table-row-separatormenu {
  border-bottom: 2px solid #0000008a;
}

.frameStyle-style {
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0rem;
  background-color: #ffffff;
}

.frameStyle-style1 {
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 1rem;
  background-color: #e62a5663;
}

.line-separated h6 {
  border-bottom: 2px solid #257525;
  /* Bordure en bas */
  padding-bottom: 10px;
  /* Espacement entre les lignes */
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  text-align: left;
}

.line-separated h6:last-child {
  border-bottom: none;
  /* Pas de bordure en bas pour le dernier élément */
}

.yellow-background {
  background-color: yellow;

}

